/*style only for home.html*/

.first-section{
	width: 100%;
	height: 500px;
	color: #EB5A49;

}
.first-section h1{
	    text-align: center;
    margin-top: 180px;
    font-size: 60px;
    font-family: "Open Sans";
    font-weight: 800;
}
.first-section-img{
	width: 190px;
	margin: auto;
}


.second-section{
	width: 100%;
	height: 600px;
	background: #576474;
	color: #fff;
}
.main-heading{
	text-align: center;
    padding-top: 50px;
    font-size: 60px;
    font-family: "Open Sans";
    font-weight: 100;
}
.who-we-are-img{
	width: 85%;
	margin: auto;
}
.who-we-are-img img{
	max-width: 100%;
}
.who-we-are-paragraph{
	margin-top: 70px;
	    line-height: 20px;
    font-size: 18px;
    font-weight: 100;
    font-family: "Open Sans";
    text-align: justify;
}

.third-section{
	width: 100%;
	height: 600px;
	background: #fff;
	color: #EB5A49;
}
.circle-section{
	    width: 100px;
    background: #576474;
    padding: 30px;
    border-radius: 70px;
}
.icon-what-we-do img{
	    width: 100px;
    text-align: center;
    border-radius: 332px;
}
.service-icons{
	text-align: center;
	margin-top: 100px;
}
.service-description{
	    width: 95%;
    margin: 20px auto;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 40px;
}
.icon-div{
	    width: 90px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid;
    border-radius: 61px;
}